*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 8px;
    
    font-family: Verdana, arial, sans-serif;

    background-color: rgb(237,236,233)
}
header div{
}
header div ul{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0;
}
header div ul li{
    list-style: none;
}
header div ul li a{
        color: rgb(239,113,32);
        font-size: 28px;
        font-weight: 800;
}
img{
    width: 100%;
}

h1{
    color: rgb(119,85,72);
    font-size: 54px;
    margin: 22px 0  22px 0;
}

/* ----------------------------- */
main{
    
}
h3{
    background-color: rgb(119,85,72);
    color: rgb(225,212,208);
}
section ul li, section p{
    color: rgb(119,85,72);
}
section ul li a{
    font-weight: bold;
    color: rgb(238,111,22);
}

#instalaciones ul li:nth-child(1){
    font-weight: bold;
}