*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 8px;
    
    font-family: Verdana, arial, sans-serif;

    background-color: rgb(237,236,233)
}
header div{
}
header div ul{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0;
}
header div ul li{
    list-style: none;
}
header div ul li a{
        color: rgb(239,113,32);
        font-size: 28px;
        font-weight: 800;
}
img{
    width: 100%;
}

h1{
    color: rgb(119,85,72);
    font-size: 54px;
    margin: 22px 0  22px 0;
}

/* ----------------------------- */
h3{
    background-color: rgb(119,85,72);
    color: rgb(225,212,208);
}
section ul li, section ol li, section p{
    color: rgb(119,85,72);
}
section ul li a{
    font-weight: bold;
    color: rgb(238,111,22);
}

#instalaciones ul li:nth-child(1){
    font-weight: bold;
}

#alquileres ul li:nth-child(4) a{ 
    color: rgb(119,85,72);
    text-decoration: none;
    font-weight: 300;
}

#notas-diario p{
    font-weight: bold;
}
#notas-diario ul li:nth-child(1) a{
    color: rgb(86,167,195);
}
#notas-diario ul li:nth-child(2) a{
    color: rgb(239,91,83);
}

#por-que-elegirnos h3{ 
    color: rgb(208,174,58);
}

/* ------------------- */
footer{
    width: 100%;
    color: rgba(255, 255, 0, 0.863);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}