*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 6px;
    
    font-family: Verdana, arial, sans-serif;
}
header div{
    background-color: red;
}

img{
    width: 100%;
}